<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>My Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script src="main.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

    <!--<link rel='stylesheet' href='style.css' />-->
    <meta name="description" content="">
    <meta name="author" content="">

    </head>
    <body >

    <div id="my-app-blob" class="container" >
      <div class="row">
        <div class="col-md-1" ></div>
        <div class="col-md-6" >

         <!--button id="new">New Blob</button-->
          
          <div class="list table">
                    
                    <table class="table" >
                        <thead>
                            <tr>
                                <td><b>Name</b></td>
                                <td><b>Badge</b></td>
                                <td><b>Isloved</b></td>
                                <td><b>Dob</b></td>
                                <td></td>
                                <td></td>                    
                            </tr>
                        </thead>

                        <tbody id="myList">
                            
                        </tbody>            
                    <table>        
                </div>

        <table>
          <tbody id="myList" ></tbody>
        </table>


        </div>
        <div class="col-md-5">
          <p class="message"></p>
        </div>
        
      </div>
    
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2" >
          
          <div class="main-container-blobs">
             
          </div>            
          
        </div>
        <div class="col-md-8"></div>
      </div>
    </div>         
    
    <div>
        <div class="save hidden" >

            <!--div id="oculto" style="display:none"-->

            <div class="form-group">
                <label for="exampleInputEmail1"><b>Name</b></label>
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1"><b>Badge</b></label>
                <input type="number" class="form-control" id="inputBadge" placeholder="Badge">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1"><b>Is loved<b></label>
                <input type="checkbox" class="form-control" id="inputIsLoved" placeholder="Isloved">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Dob</label>
                <input type="date" class="form-control" id="inputDob" placeholder="Dob">
            </div>

            <div>
                <button name="Create" id="create" onclick="blobs.create()">Create</button>
                <button name="save" id="save">Save</button>
                <button>Cancel</button>                
            </div>

        </div>
    </div>

  </body>
</html>
